# Hwk 2 for DS5100

* Name: Luke Schneider
* Net ID: vrd9sd
* Url of file on github:

In [3]:
# Task 1
gradebook = {"Jon": 95,
            "Mike": 84,
            "Jaime": 99}
print(gradebook)

{'Jon': 95, 'Mike': 84, 'Jaime': 99}

In [4]:
# Task 2
print(gradebook["Mike"])

84

In [5]:
# Task 3
print(gradeboook['Jeff'])

NameError: name 'gradeboook' is not defined

In [7]:
# Task 4
names = ['Alex', 'Patrick', 'Tom', 'Joe', 'Alex']
print(names)

['Alex', 'Patrick', 'Tom', 'Joe', 'Alex']

In [8]:
# Task 5
names.sort()
print(names)

['Alex', 'Alex', 'Joe', 'Patrick', 'Tom']

In [9]:
# Task 6
name_set = set(names)
print(name_set)

{'Joe', 'Patrick', 'Alex', 'Tom'}

In [11]:
# Task 7
td = {"Joe": 3,
      "Alex": [1, 2],
      'Tom': 1,
      'Patrick': 4}
print(td)

{'Joe': 3, 'Alex': [1, 2], 'Tom': 1, 'Patrick': 4}

In [12]:
# Task 8 
print(sum(td['Alex']))

3

In [17]:
# Task 9
list1 = list(td.keys())
list2 = set(names)
print(list1)
print(list2)
list1 == list2

['Joe', 'Alex', 'Tom', 'Patrick']
{'Joe', 'Patrick', 'Alex', 'Tom'}

False