In [11]:
# Example 3.1 - Bucket 3
val = int(input("Enter a number"))
if -10<val<-5:
    print("bucket 1")
elif -5 <= val< -2:
    print("bucket 2")
else:
    print("not in either bucket")

Enter a number -2

not in either bucket

In [19]:
# Ex 3.2
xx = [2, 8, 0, 5, 6]
max_val = max(xx)
for value in xx:
    if value < max_val:
        print(value)
    else:
        print("max_val")

2
max_val
0
5
6

In [25]:
# Ex 3.3
it = 0
max_iter = 100
while it < max_iter:
    if (it == 0) or (it % 10 == 0):
        print(it)
    it+=1

0
10
20
30
40
50
60
70
80
90

In [29]:
# Ex 3.4
four_names = ["Luke", 'Emily', 'Chris', 'Kate']
for name in four_names:
    print(name.lower())

luke
emily
chris
kate

In [31]:
# Ex 3.5
iterable_four = iter(four_names)
next(iterable_four)
next(iterable_four)
next(iterable_four)
next(iterable_four)

'Luke'

In [47]:
# 3.8
cities = {"fairfax": 22032,
          "harrisonburg": 22801}
for city, zip in cities.items():
    print(f'{city}: {zip}')

fairfax: 22032
harrisonburg: 22801

In [53]:
# Ex 3.7
for city in cities.keys():
    print(f'{city}: {cities[city]}')

fairfax: 22032
harrisonburg: 22801

In [60]:
# 3.8
num_values = [7,3,9, 0, 3, 6, 5, 7]
cubed = [num**3 for num in num_values]
cubed

[343, 27, 729, 0, 27, 216, 125, 343]

In [69]:
# 3.9
seven_strings = ['12', '4', 'three', 'zero', '2', '9', '8']
num_strings = [thing for thing in seven_strings if thing.isdigit()]
num_strings

['12', '4', '2', '9', '8']

In [96]:
# 3.10 - Check for string in 
grid = {'max_depth': 7,
        'height': 4,
        'max_width': 3}
grid_max = {key : grid[key] for key in grid.keys() if 'max' in key}
grid_max

{'max_depth': 7, 'max_width': 3}